@import 'base/css-reset.scss';
@import 'base/form-css-reset.scss';
@font-face {
    font-family: 'neosansregular';
    src: url('../fonts/neosans-webfont.eot');
    src: url('../fonts/neosans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neosans-webfont.woff2') format('woff2'),
         url('../fonts/neosans-webfont.woff') format('woff'),
         url('../fonts/neosans-webfont.ttf') format('truetype'),
         url('../fonts/neosans-webfont.svg#neosansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  //background-color: #C9E8E6;
  font-family: 'neosansregular';
}
.new-names {
  font-family: 'neosansregular', helvetica;
  text-shadow: 0px 0px 2px #000;
}
.old-names {
  //filter: url(#old-name-shadow);
  text-shadow: 0px 0px 2px #000;
}
.zoomBtn {
  position: fixed;
  left: 20px;
  height: 20px;
  &.info {
    top: 60px;
  }
  &.inn {
    top: 20px;
  }
  &.out {
    top: 40px;
  }
}

.svg-bg {
  fill: #C9E8E6;
}
.container {
  max-width: 1000px;
}
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
#kommune_kart {
  a {
    fill: #188BB2;
  }
}
@mixin kommune {
  .block {
    fill: #673666;
    //stroke: #FEF28D;
  }
}
.old-municipalities {
  fill: #259AC2;
}
.new-municipalities {
  fill: #188BB2;
  fill-opacity: 0.01;
  .new-municipality:hover {
    fill-opacity: 0.8;
  }
}
.new-municipalities .active {
  fill: #673666;
  stroke: #fff;
  fill-opacity: 0.8;
  .ocean {
    stroke-opacity: 0.01;
  }
}
.old-names {
  pointer-events: none;
}
.new-names {
  pointer-events: none;
}
.kommune:hover {
  @include kommune;
}
