.select2-container--default .select2-selection--single {
  border-radius: 0px;
  border: none;
  background-color: #188CB4;
  height: 38px;
  @include breakpoint(max-width 735px) {
    height: 30px;
  }
  .select2-selection__rendered {
    color: white;
    font-size: 22px;
    font-weight: 300;
    line-height: 38px;
    padding-right: 45px;
    @include breakpoint(max-width 735px) {
      line-height: 30px;
      font-size: 15px;
    }
  }
  .select2-selection__arrow {
    background-color: #005D7E;
    width: 38px;
    height: 38px;
    @include breakpoint(max-width 735px) {
      width: 30px;
      height: 30px;
    }
    top: 0;
    right: 0;
    @include retina-image('../images/arrow-dropdown', 7px 12px, 'png', '../images/arrow-dropdown@2x', 'png');
    background-position: center;
    background-repeat: no-repeat;
    b {
      border: none;
    }
  }
}
.select2-container--open .select2-selection--single .select2-selection__arrow {
  @include retina-image('../images/arrow-dropdown-active', 7px 12px, 'png', '../images/arrow-dropdown-active@2x', 'png');
}
*:focus {
    outline: none;
}
.select2-search--dropdown {
  background-color: #005D7E;

  padding: 3px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none;
    background-color: #EFF4F6;
    line-height: 38px;
    font-size: 14px;
    font-family: $font;
    height: 38px;
    padding: 14px 40px 10px 14px;
    @include retina-image('../images/search', 7px 12px, 'png', '../images/search@2x', 'png');
    background-position: right 10px center;
    background-repeat: no-repeat;  
}
ul.select2-results__options {
  background-color: #005D7E;
  color: white;
  font-size: 18px;
}
.select2-results__option {
  padding: 10px 14px 5px;
  &.select2-results__option--highlighted {
    background-color: #005D7E;
  }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #005D7E;
  font-weight: 600;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #188CB4;
  font-weight: 400;
}
.select2-dropdown {
  margin-top: 4px;
  border: 1px solid #005573;
  border-radius: 1px;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
