.select2-container--default .select2-selection--single {
  border-radius: 0px;
  border: none;
  background-color: #188CB4;
  height: 38px;
  .select2-selection__rendered {
    color: white;
    font-size: 22px;
    font-weight: 300;
    line-height: 38px;
  }
  .select2-selection__arrow {
    background-color: #005D7E;
    width: 38px;
    height: 38px;
    top: 0;
    right: 0;
    b {
      border-color: white transparent transparent transparent;
    }
  }
}
