.nho-share {
  position: absolute !important;
  z-index: 19;
  right: 20px;
  bottom: 20px;
  width: 56px;
  height: 208px;
  background-color: white;
  pointer-events: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  a.nho-facebook {
    @include retina-image('../images/facebook', 34px 35px, 'png', '../images/facebook@2x', 'png');
  }
  a.nho-twitter {
    @include retina-image('../images/twitter', 34px 35px, 'png', '../images/twitter@2x', 'png');
  }
  a.nho-linkedin {
    @include retina-image('../images/linkedin', 34px 35px, 'png', '../images/linkedin@2x', 'png');
  }
  a.nho-embed {
    @include retina-image('../images/embed', 34px 35px, 'png', '../images/embed@2x', 'png');
  }
  a {
    pointer-events: all;
    display: inline-block;
    margin: 9px 11px 5px;
    width: 34px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    @include breakpoint(max-width 300px) {
      margin: 2px 5px 2px;
    }
  }
  @include breakpoint(max-width 450px) {
    right: 10px;
    bottom: 20px;
  }
  @include breakpoint(max-width 300px) {
    width: 44px;
    height: 170px;
    background-color: transparent;
  }
  border-radius: 1px;
}

.nho-embed-modal {
  display: none;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  padding: 10px;
  width: 80%;
  border: 1px solid #2399C1;
  background-image: linear-gradient(-180deg, #FFFFFF 50%, #FAFBFB 100%);
  box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.35);
  border-radius: 1px;
  .dismiss-container {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #134C5F;
    display: block;
    text-align: center;
    line-height: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    a {
      color: white;
      text-decoration: none;
      font-weight: 300;
      font-size: 20px;
    }
  }
  textarea {
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    border: none;
    background-color: transparent;
    resize:none;
    font-family: $font;
    color: #000;
    font-size: 15px;
  }
}
