.nho-share {
  float: right;
  width: 80px;
  height: 50px;
  background-color: white;
  @include retina-image('../images/share', 33px 25px, 'png', '../images/share@2x', 'png');
  background-position: center;
  background-repeat: no-repeat;
  a.nho-facebook {
    @include retina-image('../images/facebook-inactive', 60px 12px, 'png', '../images/facebook-inactive@2x', 'png');
    background-color: white;
    top: -100px;
    &:hover {
      @include retina-image('../images/facebook-active', 60px 12px, 'png', '../images/facebook-active@2x', 'png');
    }
  }
  a.nho-twitter {
    @include retina-image('../images/twitter-inactive', 60px 12px, 'png', '../images/twitter-inactive@2x', 'png');
    background-color: white;
    top: -50px;
    &:hover {
      @include retina-image('../images/twitter-active', 60px 12px, 'png', '../images/twitter-active@2x', 'png');
    }
  }
  a.nho-embed {
    @include retina-image('../images/embed-inactive', 30px 18px, 'png', '../images/embed-inactive@2x', 'png');
    background-color: white;
    top: -150px; 
    &:hover {
      @include retina-image('../images/embed-active', 30px 18px, 'png', '../images/embed-active@2x', 'png');
    }
  }
  a {
    display: none;
    height: 50px;
    width: 80px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    background-image: url(../images/share-active.png), linear-gradient(-180deg, #2399C1 50%, #238EB3 100%);
    color: white;
    font-weight: 400;
    a {
      display: block;
    }
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    &:hover {
      background-image: url(../images/share-active@2x.png), linear-gradient(-180deg, #2399C1 50%, #238EB3 100%);
      background-size: 33px 25px;
    }
  }
  &.before {
    border-radius: 1px 0px 0px 1px;
  }
  &.after {
    border-radius: 0px 1px 1px 0px;
  }
}
.nho-embed-modal {
  display: none;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  padding: 10px;
  width: 80%;
  border: 1px solid #2399C1;
  background-image: linear-gradient(-180deg, #FFFFFF 50%, #FAFBFB 100%);
  box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.35);
  border-radius: 1px;
  .dismiss-container {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #134C5F;
    display: block;
    text-align: center;
    line-height: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    a {
      color: white;
      text-decoration: none;
      font-weight: 300;
      font-size: 20px;
    }
  }
  textarea {
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    border: none;
    background-color: transparent;
    resize:none;
    font-family: $font;
    color: #000;
    font-size: 15px;
  }
}
