.slide-controls {
  width: calc(100% - 120px);
  @include breakpoint(max-width 650px) {
    width: calc(100% - 40px);
  }
  @include breakpoint(max-width 450px) {
    width: calc(100% - 20px);
  }
  position: absolute;
  bottom: 20px;
  left: 50%;

  transform: translateX(-50%);
  z-index: 10;
}
.zoom-container {
  float: left;
  background-color: white;
  padding: 5px 10px;
  border-radius: 1px;
  color: $font-color;
  width: calc(100% - 85px);
  font-size: 15px;
  height: 50px;
  @include breakpoint(max-width 650px) {
    background-color: transparent;
    padding: 0px;
  }
  .zoom-label {
    @include breakpoint(max-width 650px) {
      display: none;
    }
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    margin: 0px 20px;
    -webkit-user-select: none;  
    -moz-user-select: none;
    -ms-user-select: none;
  }
  a.zoomBtn {
    position: relative;
    background-color: white;
    line-height: 45px;
    vertical-align: text-top;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    color: #858E99;
    font-size: 25px;
    @include breakpoint(max-width 650px) {
      width: 65px;
      text-align: center;
    }
    &.inn {
      @include breakpoint(max-width 650px) {
        border-radius: 0px 1px 1px 0px;
      }
      padding-top: 5px;
    }
    &.out {
      padding-bottom: 5px;
      @include breakpoint(max-width 650px) {
        border-right: 1px solid #D8D8D8;
        border-radius: 1px 0px 0px 1px;
      }
    }
  }
  .slider-container {
    width: calc(100% - 170px);
    @include breakpoint(max-width 650px) {
      display: none;
    }
    position: relative;
    transform: translateY(-50%);
    float: left;
    margin: 18px 10px;
  }
}
input[type=range].slider {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  width: 100%;
  padding: 20px 0;
  margin-top: 5px;
}
input[type=range]::-moz-focus-outer {
  border: 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #dee1e4;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].slider::-webkit-slider-thumb {
  border: 8px solid transparent;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #2399c1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #e1e4e6;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #dee1e4;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].slider::-moz-range-thumb {
  border: 8px solid transparent;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #2399c1;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #dbdee2;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
}
input[type=range].slider::-ms-fill-upper {
  background: #dee1e4;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
}
input[type=range].slider::-ms-thumb {
  border: 8px solid transparent;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #2399c1;
  cursor: pointer;
  height: 3px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #dee1e4;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #e1e4e6;
}

