$controls-bg: #ffffff;
$font: neosans, sans-serif;
$font-color: #0081AD;

$ocean-color: #C9E8E6;
$map-color: #259AC2;
$map-hover-color: #188BB2;
$map-selected-color: #673666;
$map-seelcted-stroke-color: #ffffff;
